.footer {
  background: #f3f2f2;
  max-width: 1000px;
  padding: 100px 20px 50px 20px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-container {
  font-size: 1.5rem;
  line-height: 1.25;
  color: #525252;
  align-items: center;
}

.footer-texto {
  color: black;
  text-transform: uppercase;
  justify-content: center;
  font-size: 2.5rem;
}
.footer-contato li {
  font-weight: bold;
}